<!DOCTYPE html>
<html>
  <head>
    <title>Crisis Overview</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <!-- bower:js -->
    <script src="/assets/lodash.compat.js?0.1.0"></script>
    <script src="/assets/handlebars/handlebars.js?0.1.0"></script>
    <script src="/assets/d3/d3.js?0.1.0"></script>
    <script src="/assets/moment/moment.js?0.1.0"></script>
    <script src="/assets/superagent/superagent.js?0.1.0"></script>
    <script src="/assets/reliefweb-widgets.js?0.1.0"></script>
    <!-- endbower -->
    <!-- widget assets -->
    <script id="crisis-overview-template" type="text/x-handlebars-template">
      <h1>{{title}}</h1>
      <div class="map">
        <img src="{{map.src}}" alt="{{map.alt}}" />
      </div>
    </script>
  </head>
  <body>
    <div id="widget" class="widget"></div>
    <script type="text/javascript">
      var widget = ReliefwebWidgets.widget('crisis-overview', {
        template: '#crisis-overview-template',
        map: {
          src: "http://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Soho_-_map_1.png/1024px-Soho_-_map_1.png"
        }
      });
      widget.render('#widget');
    </script>
  </body>
</html>
