<!DOCTYPE html>
<html>
  <head>
    <title>Crisis Overview</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="ReliefWeb.int" />
    <!-- bower:js -->
    <!-- endbower -->
    <!-- widget assets -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div id="widget" class="widget" style="overflow: hidden;"></div>
    <script type="text/javascript">
      function getQueryParams(qs) {
        qs = qs.split("+").join(" ");

        var params = {}, tokens,
            re = /[?&]?([^=]+)=([^&]*)/g;

        while (tokens = re.exec(qs)) {
          params[decodeURIComponent(tokens[1])]
              = decodeURIComponent(tokens[2]);
        }

        return params;
      }

      var params = getQueryParams(document.location.search);

      var widget = BeatBlocks.widget('crisis-overview', {
        template: Handlebars.templates['crisis-overview.hbs'],
        configFile: params.config
      });
      widget.render('#widget');
      var pymChild = new pym.Child({ polling: 500 });
    </script>
    <!-- Typekit -->
    <script src="//use.typekit.net/pqs1mrp.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </body>
</html>
