<!DOCTYPE html>
<html>
  <head>
    <title>Crisis Overview</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="ReliefWeb.int" />
    <!-- bower:js -->
    <!-- endbower -->
    <!-- widget assets -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div id="widget" class="widget" style="overflow: hidden;"></div>
    <script type="text/javascript">
      function getQueryParams(qs) {
        qs = qs.split("+").join(" ");

        var params = {}, tokens,
            re = /[?&]?([^=]+)=([^&]*)/g;

        while (tokens = re.exec(qs)) {
          params[decodeURIComponent(tokens[1])]
              = decodeURIComponent(tokens[2]);
        }

        return params;
      }

      var params = getQueryParams(document.location.search);

      var widget = BeatBlocks.widget('crisis-overview', {
        template: Handlebars.templates['crisis-overview.hbs'],
        configFile: params.config
      });
      widget.render('#widget');
      var pymChild = new pym.Child({ polling: 500 });
    </script>
    <!-- Typekit -->
    <script src="//use.typekit.net/hny7ecg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <!-- Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'GATOKEN', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Event Tracking -->
    <script>
      (function () {
        function track(category, type, label) {
          ga('send', 'event', category, type, label);
        }
        function getInnerText(element) {
          return element ? (element.textContent || element.innerText || '').replace(/^\s+|\s+$/) : '';
        }
        function isSourceLink(element) {
          var parent = element.parentNode;
          parent = parent.tagName === 'CITE' ? parent.parentNode : parent;
          return parent.className.indexOf('widget--sources') !== -1 ||
                 getInnerText(parent).indexOf('(Source: ') === 0;
        }
        function getInputLabel(element) {
          var sibling = element.nextElementSibling;
          return sibling && sibling.tagName === 'LABEL' ? getInnerText(sibling) : '';
        }

        // Click events.
        var widget = document.getElementById('widget');
        widget.addEventListener('click', function (event) {
          var target = event.target;
          if (target.tagName === 'INPUT') {
            if (target.type === 'checkbox') {
              track('Crisis Overview - Description', 'click', getInputLabel(target));
            }
            else if (target.type === 'radio') {
              track('Crisis Overview - Figures', 'click', getInputLabel(target));
            }
          }
          else if (target.tagName === 'A' && isSourceLink(target)) {
            track('Crisis Overview - Source', 'click', getInnerText(target));
          }
        });
      })();
    </script>
  </body>
</html>
